/*footer css starts*/
.footer-wrapper {
    width:75%;
    margin: 0 auto;
    height: 270px;
    //background-color: sandybrown;
}
.footer-wrapper a:hover {
    text-decoration: underline;
}

.footer-upper-block {
    width:100%;
    height: 135px;
    //background-color: red;
    border-bottom: 1px solid rgba(0,0,0,0.6);
}

.footer-services-wrapper {
    width: 64%;
    height: 135px;
    //background-color: greenyellow;
    float:left;
}

.footer-upper-icon {
    width:20%;
    height:80px;
    //background-color: palegreen;
    display: inline;
    float: left;
}
.footer-upper-icon img {
    width: 50px;
    height: 50px;
}

.footer-upper-icon p,a {
    margin: 0px;
    text-decoration: none;
    font-size: 14px;
    color: #1F4F82;
}
.footer-about-wrapper {
    width: 34%;
    height: 135px;
    //background-color: yellow;
    float:right;
}

.footer-about-text {
    width:100%;
    height: 40px;
    //background-color: red;
    color: #1F4F82;
}
.footer-about-text h2 {
    display: inline;
}

.footer-about-links {
    height: 95px;
    //background-color: blanchedalmond;
}
.footer-about-links a {
    text-decoration: none;
    font-size: 14px;
    color: #1F4F82;
}
.footer-about-links p {
    margin: 0;
}

.footer-lower-block {
    height: 120px;
    width: 100%;
    //background-color: yellow;
    margin-top: 15px;
}

.footer-bbc-dark {
    height: 120px;
    width: 35%;
    float: left;
   // background-color: greenyellow;
    margin-right: 15%;
}

.footer-copyright-data {
    font-size: 13px;
    color: #505050;
    margin-top: 25px;
}
.footer-copyright-data a {
    color: #505050;
    text-decoration: none;
    font-size: 13px;
}

.footer-lower-links {
    height: 120px;
    width: 16.6%;
    float: left;
    //background-color: green;
}

.footer-lower-links p {
       font-size: 13px; 
       color: #505050;
       margin: 0;
}
.footer-lower-links a {
    color: #505050;
    text-decoration: none;
    font-size: 13px;
}
/*footer css ends*/


.main-region-content {
    height: 318px;
    //background-color: yellowgreen;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.region-content-boldtext {
    width:100%;
    height: 35px;
    //background-color: red;
    color: #505050;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    //background-color: red;
}
.region-content-boldtext h2 {
    display: inline;
}

.region-data-container {
    height: 270px;
    //background-color: yellow;
    margin-top: 12px;
}

.region-block {
    width: 25%;
    height: 270px;
    //background-color: skyblue;
    float: left;  
}

.region-block h4 {
    font-size: 18px;
    display: inline;
    color: #1F4F82;
}
.region-block a {
    font-size: 18px;
    color: #1F4F82;
}

.region-block img {
    margin-top: 10px;
}

.region-block p {
    margin: 5px 0 0 0;
    font-size: 12px;
}

.region-block-links{
    width: 90%;
    float: left;
    //background-color: yellow;
}

.reporter-content {
    //background-color: red;
    height: 126px;
    margin-top: 10px;
}
.reporter-boldtext {
    width:100%;
    height: 35px;
    //background-color: palegreen;
    color: #1F4F82;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.reporter-boldtext h2 {
    display: inline;
}

.reporter-boldtext a {
    text-decoration: none;
    color: #1F4F82;
    font-size: 16px;
}
.reporter-container {
    width:50%;
    //background-color: blue;
    float: left;
    height: 85px;
    margin-top: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.reporter-image {
    width:38%;
    float: left;
    //background-color: black;
    height: 85px;

}
.reporter-data {
    width: 60%;
    float: left;
    //background-color: yellow;
    text-align: left;
    height: 85px;
}
.reporter-data p {
    display:inine;
    margin: 0;
}
.reporter-data a {
    color: #1F4F82;
    font-size: 12px;
}



.main-category-wrapper {
    height: 210px;
    //background-color: yellowgreen;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.divisioncontenttop2 {
    width:100%;
    height: 35px;
    //background-color: red;
    color: #505050;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.divisioncontenttop2 h2 {
    display: inline;
}

.main-category-container {
    height: 210px;
    //background-color: yellow;
    margin-top: 12px;
}

.category-block {
    width: 25%;
    height: 210px;
    //background-color: skyblue;
    float: left;  
}

.category-block h4 {
    font-size: 16px;
    display: inline;
    color: #1F4F82;
}
.category-block a {
    font-size: 16px;
    color: #1F4F82;
}

.category-block img {
    margin-top: 10px;
}

.category-block p {
    margin: 5px 0 0 0;
    font-size: 12px;
}

.category-links {
    width: 90%;
    float: left;
    //background-color: yellow;
}


.main-category-alt {
    height: 210px;
    //background-color: yellowgreen;
    //border-bottom: 1px solid rgba(0,0,0,0.2);
}

.world-news-wrapper {
    height: 165px;
    //background-color: palevioletred;
}

.world-news-left-wrap {
    width:49%;
    float:left;
}

.world-news-right-wrap {
    width:49%;
    float:right;
}
.world-news-block {

    height: 55px;
    //background-color: paleturquoise;
}

.world-news-block h4 {
    font-size: 16px;
    display: inline;
    color: #1F4F82;
}
.world-news-link {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.world-news-block p {
    margin: 5px 0 0 0;
    font-size: 12px;
}
.world-news-block a {
    text-decoration: none;
    color: #1F4F82;
}

.picture-bold-text {
    width:100%;
    height: 35px;
    //background-color: palegreen;
    color: #1F4F82;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.picture-bold-text h2 {
    display: inline;
}

.picture-bold-text a {
    text-decoration: none;
    color: #1F4F82;
    font-size: 16px;
}
.picture-content-wrapper {
    height: 137px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    //margin-top: 10px;
    margin-bottom: 10px;
}
.picture-container {
    width: 100%;
    height: 126px;
    background-color: #D1700E;
}

.picture-content-block {
    width: 22.3%;
    float: left;
    font-size: 13px;
    //background-color: blue;
    margin-left: 12.5px;
    padding-bottom: 16px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.picture-content-block a {
    text-decoration: none;
    color: white;
}

.picture-content-link {
    text-align: left;
    margin-top: 3px;
    margin-bottom: 7px;
    margin-left: 4px;
    margin-right: 4px;
}

.special-content {
    height:171px;
    //background-color: paleturquoise;
}

.special-content-image {
    height:171px;
    width: 47%;
    float: left;
    //background-color: red;
    border-right: 1px solid white;
}

.special-block {
    float: right;
    height:171px;
    width: 52.8%;
    //background-color: red;
}

.special-block-top {
    height: 85px;
    background-color: #D1700E;
    
}
.special-top-text {
    float: left;
    display: inline;
    margin-top: 15px;
    margin-left: 15px;
    //background-color: yellow;
}
.special-block-top h4 {
    display: inline;
    color: white;
    font-size: 16px;
}
.special-block-top p {
    color: white;
    font-size: 16px;
    margin: 5px 0 0 0;
    font-size: 12px;
}
.special-top-text a:hover {
    color: white;
}

.special-block-bottom {
    height: 85px;
    background-color: #EDEDED;
    border-top: 1px solid white;
}
.special-bottom-links {
    float: left;
    display: inline;
    margin-top: 15px;
    margin-left: 15px;
    //background-color: yellow;
}
.special-block-bottom h4 {
    display: inline;
    color: #505050;
    font-size: 14px;
}
.special-block-bottom p {
    color: #1F4F82;
    font-size: 16px;
    margin: 5px 0 0 0;
    font-size: 12px;
}