body {
    font-family: Arial;
    margin:0px;
    padding: 0px;
}

#main-head-wrapper {
    background-image: url(../images/headerbck.png);
    background-repeat: repeat-x;
    height:128px;
}

#head-top-wrapper {
    background-color: rgba(0,0,0,0.2);
    height:40px;
}

#bbc-top-wrapper
{
    //background-color: red;
    height: 40px;
    margin:0 auto;
    width : 75%;
}

.bbclogo{
    height: 40px;
    float: left;
    //width: 10%;
}

.bbcimg{
    margin: 8px 0 0 0;
    border: none;
}

#top-navbar-container {
    color: white;
    font-size: 13.5px;
    font-weight: 500;   
    margin: 13px 0px 0px 0px;
    padding: 0px;   
    list-style: outside none none;
    text-align: right;
}

.bbc-navbar {   
    display: inline;    
}

.bbc-navbar a{
    color: white;
    padding-left: 12px;
    padding-right: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    border-left-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
    border-left-width: 1px;
}

.bbc-navbar a:hover {
    padding-bottom: 7px;
    border-bottom: 4px solid #fff
}

.top-navbar
{            
    //width: 65%;
    height:40px;
    float:left;
    margin-left: 227px;
}
.search-box{           
    //width: 10%;
    max-height:40px;
    float:right;
    border-left-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
    border-left-width: 1px;
    padding-left: 12px;
    padding-top: 9px;
}
.search-box form input {
    width:130px;
    margin-bottom: 10px;
}

.top-head-newsbar {    
    margin:0 auto;
    //padding-top: 5px;
    //padding-bottom: 5px;
    height: 63px;
    width : 75%;
    //background-color: red;
}

.top-head-newstext{
    margin-bottom: auto;
    margin-top: 7px;
    float:left;
    //background-color: blue;
    width: 15%;
    color:white;
    font-size: 45px;
}

.top-head-newsdate{
    margin-top: 35px;
    float:left;
    //background-color: brown;
    width: 65%;
    color:white;
    font-size: 13px;
}
.top-head-newsdate p {
    margin: 0;
    padding: 0;
}

.top-head-rss{
    margin-top: 35px;
    text-align: right;
    float:right;
    //background-color: black;
    width: 20%;
    color:white;
    font-size: 14px;
}
.top-head-rss a{
    text-decoration: none;
    color:white;
}
.top-head-rss a:hover {
    text-decoration: underline;
    color:white;
}
.top-head-rss img{
    margin-left: 5px;
    border: none;
}

.head-small-navbar {
    margin:0 auto;
    width : 75%;
    height:25px;
    background-color: #3e0c0d;
}

.small-navbar-container {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.small-navbar-container li {
    padding-left: 2.5px;
    padding-right: 2.5px;
    float: left; }

.small-navbar-container li a {
    padding-left: 2.5px;
    padding-right: 2.5px;
    margin-top: 5.5px;
    font-size: 12.5px;
    color: white;
    text-decoration: none;
    display: block;
    width: 100%; 
    border-right-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
    border-right-width: 1px;
}

.small-navbar-container li a:hover {
    margin-top: 5.5px;
    font-size: 12.5px;
    color: white;
    text-decoration: underline;
    display: block;
    width: 100%;
    border-right-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
    border-right-width: 1px;}

.latest-news {
    width:100%;
    //background-color: skyblue;
    height: 30px;
    color: #1F527B;
    font-size: 13px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.latest-news p {
    margin: 0px;
    display: inline;
    color: #505050;
    font-size: 15px;
    margin-right: 10px;
}
.main-content-wrapper {
    width:75%;
    margin: 0 auto;
    //background-color: orange;
    height: 3500px;
    margin-top: 5px;

}

.main-content-wrapper a:hover {
    text-decoration: underline;
}

.content-main-portion {
    margin-top: 10px;
    width: 64%;
    float: left; 
    //background-color: red;
}

/* content 1 CSS start*/
.main-news-container {
    //background-color: yellow;
    height: 270px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.main-news-container h1 {
    color: #1F4F82;
    display: inline;
}

.main-news-text {
    height: 40px;
    //background-color: red;
}

.main-news-text a {
    font-size: 32px;
    text-decoration: none;
}

.main-news-image {
    width: 60%;
}
.main-news-container img {
    display: inline;
    float: left;
}
.main-nav-container {
    display: inline; float: right;
    width: 39%;
    font-size: 13px;
}
.main-nav-container p, a {
    margin:8px 0px 0px 0px;
    text-decoration: none;
    color: #1F527B;
}
/*content 1 CSS end */



/* content 2 CSS start*/
.sub-news-container {
    //background-color: yellow;
    height: 185px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-top: 10px;
}

.sub-news-image {
    width: 48%;
}
.sub-news-image img {
    display: inline;
    float: left;
}
.sub-news-text {
    width: 51%;
    float: right;
    color: #1F4F82;
}

.sub-news-text h4 {
    display: inline;
    font-size: 18px;
}
.sub-nav-container {
    display: inline; float: right;
    width: 51%;
    font-size: 13px;
}
.sub-nav-container p, a {
    margin:8px 0px 0px 0px; 
    text-decoration: none;
    color: #1F527B;
}
/*content 2 CSS end */

/*content last CSS starts*/
.sub-alt-container {
    //background-color: yellow;
    height: 185px;
    //border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-top: 10px;
}
/*content last CSS ends*/


.side-content {
    margin-top: 10px;
    width: 34%;
    float: right;
    height: 1000px;
    //background-color: yellow;
}

.side-mag-block {
    background-color: #EDEDED;
    height: 184px;
}

.magazine-boldtext {
    width:80%;
    height: 35px;
    //background-color: red;
    padding-top: 4px;
    margin-left: 8px;
    float: left;
    color: #1F4F82;
}
.magazine-boldtext h2,a {
    display: inline;
    text-decoration: none;
}

.magazine-block {
    height:72px;
    width: 95%;
    //background-color: skyblue;
    float: left;
    margin-left: 8px;
}

.magazine-image {
    width: 37%;
    float: left;
    //background-color: blue;

}
.magazine-link {
    width: 63%;
    float: right;
    //background-color: purple;
    height: 20px;  
}
.magazine-link h4,a {
    display: inline;
    text-decoration: none;
    font-size: 18px;
    color: #1F4F82;
}

.magazine-data {
    width: 63%;
    float: right;
    //background-color: orange;
    height: 40px;
    font-size: 13px;
}

.side-features-block {
    margin-top: 15px;
    background-color: #EDEDED;
    height: 616px;
}
.side-follow-block {
    margin-top: 15px;
    background-color: #EDEDED;
    height: 184px;
}


.feature-boldtext {
    width:80%;
    height: 35px;
    //background-color: red;
    padding-top: 4px;
    margin-left: 8px;
    float: left;
    color: #505050;

}
.feature-boldtext h2 {
    display: inline;
    text-decoration: none;
}

.advertise-wrapper {
    width:100%;
    //background-color: skyblue;
    height: 105px;
    margin-bottom: 20px;
}
.advertise-text {
    height: 13px;
    //background-color: red;
    margin-left: 776px;   
}
.advertise-text a {
    font-size: 11px;
    color: #505050;  
}
.advertise-image {
    margin-top: 10px;
    text-align: center;
    //background-color: yellow;
}

.main-video-wrapper {
    height: 137px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    //margin-top: 10px;
    margin-bottom: 10px;
}
.main-video-container {
    width: 100%;
    height: 126px;
    background-color: #D1700E;
}

.video-data-wrapper {
    width: 22.3%;
    float: left;
    font-size: 13px;
    //background-color: blue;
    margin-left: 12.5px;
    margin-bottom: 10px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.video-data-wrapper a {
    text-decoration: none;
    color: white;
}

.video-text {
    text-align: left;
    margin-top: 3px;
    margin-bottom: 7px;
    margin-left: 4px;
    margin-right: 4px;
}

.main-text-content {
    height: 195px;
    //border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-top: 10px;
    //background-color: yellow;
    //margin-bottom: 10px;
}

.main-left-container {
    width: 50%;
    float: left;
    height: 80px;
    //background-color: greenyellow;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.main-left-alt {
    width: 50%;
    float: left;
    height: 80px;
    margin-top: 10px;
    //background-color: palegreen;
}

.main-right-container {
    width: 47%;
    float: right;
    height: 200px;
    // background-color: graytext;
}
.main-right-links {
    display: inline;
    font-size: 14px;
}
.main-right-links p {
    margin: 0 0 8px 0;
}
.main-right-links a {
    text-decoration: none;
    color: #1F4F82;
}

.main-left-link {
    //background-color: red;  
    height: 25px;
}
.main-left-link h4 {
    display: inline;
}
.main-left-link a {
    font-size: 18px;
    color: #1F4F82;
    text-decoration: none;
}

.main-left-data {
    font-size: 13px;
}

.video-bold-text {
    width:100%;
    height: 35px;
    //background-color: red;
    color: #505050;
}
.video-bold-text h2 {
    display: inline;
}
